<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Главная</title>
    </head>
    <body>
        <h3>Выберите действие</h3>
        <h2>Просмотр</h2>
        <a href="look.html">Просмотреть информацию из базы данных</a>
        </br>
        
        <h2>Добавление</h2>
        <a href="add_client.html">Добавить клиента</a>
        </br>
        <a href="add_destination.html">Добавить место назначения</a>
        </br>
        <a href="add_guide.html">Добавить гида</a>
    </body>